* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eaecee;
}

.page-height {
  height: calc(100vh - 66px);
}

.header {
  background-color: #32363c;
  height: 66px;
}

.hamburger-menu-btn {
  border-radius: 5px;
}

.hamburger-menu-btn.selected {
  border: 4px solid #c7ccdb;
}

.hamburger-menu-btn:hover {
  border: 4px solid #c7ccdb;
}

.avatar {
  height: 44px;
  width: 44px;
}

.nav-background {
  width: 100%;
  background-color: rgba(40, 40, 40, 0);
  pointer-events: none;
  transition: background-color 0.25s ease;
  z-index: 1;
}

.nav-background.show {
  background-color: rgba(40, 40, 40, 0.7);
  pointer-events: all;
}

.nav {
  background-color: #f8f8f9;
  padding: 1rem;
  width: 375px;
  left: -375px;
  transition: left 0.25s ease;
  z-index: 2;
}

.nav.show {
  left: 0;
}

.navbar-link {
  color: #4e545e;
  font-size: 36px;
  padding: 0;
}

.navbar-link:hover {
  color: #1a1c20;
}

.navbar-sep {
  border: 1px solid #4e545e;
  width: 340px;
  margin: 0.5rem 0;
}

.home {
  padding-top: 7rem;
}

button.gamemode {
  background-color: #4e545e;
  color: #eaecee;
  width: 340px;
  height: 75px;
  border: 0;
  border-radius: 5px;
  font-size: 36px;
  font-weight: lighter;
  letter-spacing: 2.5px;
  transition: background-color 0.25s ease;
}

button.gamemode:hover {
  background-color: #1a1c20;
}
