body {
  background-color: #eaecee;
}

.header {
  background-color: #32363c;
}

.hamburger-menu-btn {
  border-radius: 5px;
}

.hamburger-menu-btn:hover {
  border: 4px solid #c7ccdb;
}

.avatar {
  height: 44px;
  width: 44px;
}
