* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eaecee;
}

button {
  border: 0;
  border-radius: 5px;
}

.font-24 {
  font-size: 24px;
}

.page-height {
  height: calc(100vh - 66px);
}

.header {
  background-color: #32363c;
  height: 66px;
}

.hamburger-menu-btn {
  border-radius: 5px;
  border: 4px solid #32363c;
}

.hamburger-menu-btn.selected {
  border: 4px solid #c7ccdb;
}

.hamburger-menu-btn:hover {
  border: 4px solid #c7ccdb;
}

.avatar {
  height: 44px;
  width: 44px;
}

.nav-background {
  width: 100%;
  background-color: rgba(40, 40, 40, 0);
  pointer-events: none;
  transition: background-color 0.25s ease;
  z-index: 1;
}

.nav-background.show {
  background-color: rgba(40, 40, 40, 0.7);
  pointer-events: all;
}

.nav {
  background-color: #f8f8f9;
  padding: 1rem;
  width: 375px;
  left: -375px;
  transition: left 0.25s ease;
  z-index: 2;
}

.nav.show {
  left: 0;
}

.navbar-link {
  color: #4e545e;
  font-size: 36px;
  padding: 0;
}

.navbar-link:hover {
  color: #1a1c20;
}

.navbar-sep {
  border: 1px solid #4e545e;
  width: 340px;
  margin: 0.5rem 0;
}

.home {
  padding-top: 7rem;
}

button.gamemode {
  background-color: #4e545e;
  color: #eaecee;
  width: 340px;
  height: 75px;
  font-size: 36px;
  font-weight: lighter;
  letter-spacing: 2.5px;
  transition: background-color 0.25s ease;
}

button.gamemode:hover {
  background-color: #1a1c20;
}

.add-post-btn {
  background-color: #4e545e;
  width: 340px;
  height: 60px;
  margin: 1rem auto;
  transition: background-color 0.25s ease;
}

.add-post-btn:hover {
  background-color: #1a1c20;
}

.post-form {
  color: #32363c;
  padding: 1.5rem;
  padding-top: 3rem;
}

.side-select {
  width: 100px;
  height: 30px;
  margin: auto 0.25rem;
  border-radius: 8px;
  border: 3px solid #eaecee;
  box-sizing: content-box;
}

.side-select.white {
  background-color: white;
  color: black;
}

.side-select.black {
  background-color: black;
  color: white;
}

.side-select.selected {
  border: 3px solid #0173fa;
}

.post-message-div {
  margin-top: 3rem;
}

.post-message-title {
  margin: 0.5rem;
  font-size: 20px;
}

.post-message {
  width: 326px;
  height: 100px;
  border: none;
  border-radius: 5px;
  resize: none;
}

.post-form-buttons {
  margin: 0.5rem 0;
  width: 175px;
}

.cancel-btn,
.create-post-btn {
  height: 32px;
  width: 82px;
}

.cancel-btn {
  background-color: white;
  color: #32363c;
}

.create-post-btn {
  background-color: #0173fa;
  color: #eaecee;
}
